<nav>
    <div class="site-title">
        <a href="/"><h1>Pink Blogger</h1></a>
        <p>A Girlie's guide to tech</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blogs</a></li>
    </ul>
</nav>